<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="system.diagnostics" type="System.Diagnostics.DiagnosticsConfigurationHandler" />
  </configSections>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>